@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Precio: @product.Price</p>
                        <p class="card-text">@product.Description</p>
                        <a href="/Cart/AddToCart?id=@product.Id" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay productos disponibles en este momento.</p>
}
